<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="folder" value="c:\\tmp\\logs\\small" />
    <add key="pattern" value="collector*"/>
  </appSettings>
  <connectionStrings>
    <add name="mongo" connectionString="Server=172.16.3.55:27017"/>
    <add name="mysql" connectionString="Database=entries;host=172.16.3.55;User ID=test;connection timeout=100"/>
  </connectionStrings>
</configuration>